{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="border-bottom border-dark mb-5 pb-1">
    <h3 class="text-dark d-inline-block me-5">Controller's log journal</h3>
    <form class="d-inline-block">
        <div class="form-group d-inline-block">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control form-control-sm" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            </select>
        </div>
        <div class="form-group d-inline-block mx-3">
            <input class="form-control form-control-sm" type="search" placeholder="Search..." aria-label="Search">
        </div>
        <button type="button" class="btn btn-dark btn-sm">Search</button>
    </form>
</div>
<ul class="list-group" id="itemsList">
</ul>
<script src="{% static 'main/scripts/devicelog.js' %}"></script>
{% endblock content %}

