{% extends 'main/base.html' %}
{% block content %}
<section class="vh-100">
    <div class="container py-5 h-60">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-2 mt-md-2 pb-2">
                <form method="POST" class="text-center">
                    {% csrf_token %}
                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                    <p class="text-white-50 mb-5">Please enter your login and password!</p>
    
                    <div class="form-outline form-white mb-2">
                    <input type="text" id="typeEmailX" class="form-control" name="username" required />
                    <label class="form-label" for="typeEmailX">Username</label>
                    </div>
    
                    <div class="form-outline form-white mb-2">
                    <input type="password" id="typePasswordX" class="form-control" name="password" required />
                    <label class="form-label" for="typePasswordX">Password</label>
                    </div>
    
                    <button class="btn btn-outline-light px-5" type="submit">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
